# Retention Project Wrangle Workbook

In [1]:
# Import for Data Manipulation
import pandas as pd
import numpy as np 

# Import for Data Visualization
import seaborn as sns
from matplotlib import pyplot as plt
import squarify

# Import for data acquisition and prep
import wrangle

# Import for Scaling and Spliting the data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

# Import for hypothesis testing
from scipy import stats

# Import for Classification models
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Import for analysis of classification models
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

# Import for Clustering
from sklearn.cluster import KMeans

# Import to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Set to see all rows and columns
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None

In [2]:
# Test Functions
df = wrangle.acquire_student_data()
df.head()

,FAKEID,RETAINED,ENROLLED_1_BACK,RACE_ETHN,SEX,TIME_STATUS,FGEN,STUDENT_CLASSIF,PELL_EVER,EFC,HS_GPA,TERM_GPA,OriginalType,CIP_2DIG,AGE_AT_START_TERM,ACT,ASTD,FA_RECD,DEPEND_STATUS,DUBYA_COUNT_TERM,SPAN,DAYS_BETWEEN
0,356453,Y,Y,White,F,FULL,1GX,SO,N,NaN,2.92,2.000000,TRANSFER,24,19 - 22,NADA,GOODBIN,N,unk,NONE,1,89
1,876229,N,N,Hispanic,M,FULL,1GN,FR,Y,0.0,NaN,0.462308,FIRST,11,19 - 22,20 or more,ISSUEBIN,Y,DEP,NONE,0,15
2,476074,Y,N,White,F,FULL,1GY,SE,Y,5603.0,3.58,3.500625,TRANSFER,26,19 - 22,20 or more,GOODBIN,Y,DEP,NONE,3,97
3,818465,Y,N,White,F,FULL,1GY,SE,Y,0.0,3.94,3.562500,FIRST,52,23-29,20 or more,GOODBIN,Y,IND,NONE,5,91
4,973275,Y,Y,White,F,FULL,1GN,SO,N,16120.0,3.13,3.333333,TRANSFER,52,19 - 22,20 or more,GOODBIN,Y,DEP,NONE,1,156

In [3]:
students, sparse_dummies = wrangle.prep_student_data(df)
students.head()

,id,retained,enrolled_between,race_ethn,sex,time_status,fgen,student_year,pell_ever,term_gpa,enroll_type,cip,age_at_start_term,act,academic_standing,fa_recd,depend_status,w_count,yrs_since_start,reg_before_start,title,race_ethn_African American,race_ethn_American Indian/Alaskan Native,race_ethn_Asian,race_ethn_Hispanic,race_ethn_International,race_ethn_Missing/Unknown,race_ethn_Native Hawaiian/Pacific Islander,race_ethn_Two or More Races,race_ethn_Two or more races,race_ethn_White,fgen_1GN,fgen_1GX,fgen_1GY,student_year_FR,student_year_JU,student_year_SE,student_year_SO,enroll_type_CONC,enroll_type_FIRST,enroll_type_TRANSFER,title_agricultural/animal/plant/veterinary_science_and_related_fields,"title_area,_ethnic,_cultural,_gender,_and_group_studies",title_basic_skills_and_developmental/remedial_education,title_biological_and_biomedical_sciences,"title_business,_management,_marketing,_and_related_support_services","title_communication,_journalism,_and_related_programs",title_communications_technologies/technicians_and_support_services,title_computer_and_information_sciences_and_support_services,title_education,title_engineering,title_engineering/engineering-related_technologies/technicians,title_english_language_and_literature/letters,"title_foreign_languages,_literatures,_and_linguistics",title_health_professions_and_related_programs,title_history,"title_homeland_security,_law_enforcement,_firefighting_and_related_protective_services","title_liberal_arts_and_sciences,_general_studies_and_humanities",title_mathematics_and_statistics,title_military_technologies_and_applied_sciences,title_multi/interdisciplinary_studies,title_natural_resources_and_conservation,"title_parks,_recreation,_leisure,_fitness,_and_kinesiology",title_philosophy_and_religious_studies,title_physical_sciences,title_psychology,title_public_administration_and_social_service_professions,title_social_sciences,title_transportation_and_materials_moving,title_visual_and_performing_arts,age_at_start_term_18-younger,age_at_start_term_19-22,age_at_start_term_23-29,age_at_start_term_30-older,act_20 or more,act_NADA,act_Under 20,depend_status_DEP,depend_status_IND,depend_status_unk,yrs_since_start_0,yrs_since_start_1,yrs_since_start_2,yrs_since_start_3,yrs_since_start_4,yrs_since_start_5,yrs_since_start_6 or more
0,356453,1,1,White,1,1,1GX,SO,0,2.000000,TRANSFER,24,19-22,NADA,1,0,unk,0,1,89,"liberal_arts_and_sciences,_general_studies_and_humanities",0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0
1,876229,0,0,Hispanic,0,1,1GN,FR,1,0.462308,FIRST,11,19-22,20 or more,0,1,DEP,0,0,15,computer_and_information_sciences_and_support_services,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
2,476074,1,0,White,1,1,1GY,SE,1,3.500625,TRANSFER,26,19-22,20 or more,1,1,DEP,0,3,97,biological_and_biomedical_sciences,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
3,818465,1,0,White,1,1,1GY,SE,1,3.562500,FIRST,52,23-29,20 or more,1,1,IND,0,5,91,"business,_management,_marketing,_and_related_support_services",0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
4,973275,1,1,White,1,1,1GN,SO,0,3.333333,TRANSFER,52,19-22,20 or more,1,1,DEP,0,1,156,"business,_management,_marketing,_and_related_support_services",0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0

In [4]:
sparse_dummies.head()

,race_ethn_African American,race_ethn_American Indian/Alaskan Native,race_ethn_Asian,race_ethn_Hispanic,race_ethn_International,race_ethn_Missing/Unknown,race_ethn_Native Hawaiian/Pacific Islander,race_ethn_Two or More Races,race_ethn_Two or more races,race_ethn_White,fgen_1GN,fgen_1GX,fgen_1GY,student_year_FR,student_year_JU,student_year_SE,student_year_SO,enroll_type_CONC,enroll_type_FIRST,enroll_type_TRANSFER,title_agricultural/animal/plant/veterinary_science_and_related_fields,"title_area,_ethnic,_cultural,_gender,_and_group_studies",title_basic_skills_and_developmental/remedial_education,title_biological_and_biomedical_sciences,"title_business,_management,_marketing,_and_related_support_services","title_communication,_journalism,_and_related_programs",title_communications_technologies/technicians_and_support_services,title_computer_and_information_sciences_and_support_services,title_education,title_engineering,title_engineering/engineering-related_technologies/technicians,title_english_language_and_literature/letters,"title_foreign_languages,_literatures,_and_linguistics",title_health_professions_and_related_programs,title_history,"title_homeland_security,_law_enforcement,_firefighting_and_related_protective_services","title_liberal_arts_and_sciences,_general_studies_and_humanities",title_mathematics_and_statistics,title_military_technologies_and_applied_sciences,title_multi/interdisciplinary_studies,title_natural_resources_and_conservation,"title_parks,_recreation,_leisure,_fitness,_and_kinesiology",title_philosophy_and_religious_studies,title_physical_sciences,title_psychology,title_public_administration_and_social_service_professions,title_social_sciences,title_transportation_and_materials_moving,title_visual_and_performing_arts,age_at_start_term_18-younger,age_at_start_term_19-22,age_at_start_term_23-29,age_at_start_term_30-older,act_20 or more,act_NADA,act_Under 20,depend_status_DEP,depend_status_IND,depend_status_unk,yrs_since_start_0,yrs_since_start_1,yrs_since_start_2,yrs_since_start_3,yrs_since_start_4,yrs_since_start_5,yrs_since_start_6 or more
0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0

## Questions beyond the data

- Does data account for major changes? 
- Which students were fall to fall and spring to spring?
- How to account for students who skip a semester?
- How to make each student a single row and seperate students into subsamples?

# Acquire

In [5]:
# students = pd.read_excel('college_retention_data.xlsx')

In [6]:
# def acquire_student_data():
#     '''
#     This function reads in a excel file and returns it as a dataframe.
#     '''
#     # Read excel into df
#     df = pd.read_excel('college_retention_data.xlsx')
#     # Return df
#     return df

In [7]:
# Read in Data dictionary
# data_dict = pd.read_excel('college_retention_data.xlsx',sheet_name=1)

In [8]:
# def acquire_data_dict():
#     '''
#     This funciton acquires the included data dictionary.
#     '''
#     # Read dictionary into dataframe
#     df = pd.read_excel('college_retention_data.xlsx',sheet_name=1)
#     # Return the dataframe
#     return df

# Prep

## Student Data Prep

In [9]:
# # Create function to manipulate cip df for ease of use
# def get_cip_codes():
#     # read in df
#     cip = pd.read_csv('cip_codes.csv')
#     # Narrow down df
#     cip = cip[['Title','CIP Code']]
#     # Fix columns
#     cip.columns = [col.lower().replace(' ','_') for col in cip]
#     # fix cip values
#     cip['cip_code'] = cip.cip_code.apply(lambda x: x[2:4])
#     # make int
#     cip['cip_code'] = cip.cip_code.astype('int')
#     # Rename cip column
#     cip = cip.rename(columns={'cip_code':'cip'})
#     # fix title vlaues
#     cip['title'] = cip.title.apply(lambda x: x.lower().replace(' ' , '_').replace( '.' , ''))
#     # return df
#     return cip

In [10]:
# # Test Function from wrangle.py
# students = wrangle.acquire_student_data()

In [11]:
# # Lowercase all column names
# students.columns = [col.lower() for col in students]

In [12]:
# # Change column names for ease of use
# students = students.rename(columns={'fakeid':'id','enrolled_1_back':'enrolled_between','student_classif':'student_year',\
#                                     'originaltype':'enroll_type','cip_2dig':'cip','astd':'academic_standing',\
#                                     'dubya_count_term':'w_count','span':'yrs_since_start','days_between':'reg_before_start'})

In [13]:
# # Drop Nulls for initial pass
# students = students.dropna()

In [14]:
# # Drop UN cip value
# students = students[students['cip'] != 'UN']
# # Retrieve cip codes with descriptions and return dataframe
# cip = get_cip_codes()

In [15]:
# students = pd.merge(students,cip, on='cip', how='left')

In [16]:
# students.w_count.value_counts()

In [17]:
# # One hot encode categorical columns
# # Replace (1,0): retained, enrolled_between, sex, time_status, pell_ever, academic_standing, fa_recd, w_count
# students['retained'] = students.retained.str.replace('Y', '1').str.replace('N', '0')
# students['enrolled_between'] = students.enrolled_between.str.replace('Y', '1').str.replace('N', '0')
# students['sex'] = students.sex.str.replace('F', '1').str.replace('M', '0')
# students['time_status'] = students.time_status.str.replace('FULL', '1').str.replace('PART', '0')
# students['pell_ever'] = students.pell_ever.str.replace('Y', '1').str.replace('N', '0')
# students['academic_standing'] = students.academic_standing.str.replace('GOODBIN', '1').str.replace('ISSUEBIN', '0')
# students['fa_recd'] = students.fa_recd.str.replace('Y', '1').str.replace('N', '0')
# students['w_count'] = students.w_count.str.replace('ONE_OR_MORE', '1').str.replace('NONE', '0')
# # Reassign as int type
# students[['retained','enrolled_between','sex','time_status','pell_ever','academic_standing','fa_recd','w_count']] = \
# students[['retained','enrolled_between','sex','time_status','pell_ever','academic_standing','fa_recd','w_count']].astype('int')
# # Create dummies: race_ethn, fgen, student_year, enroll_type, cip, age_at_start_term, act, depend_status, yrs_since_start
# dummy_name = pd.get_dummies(students[['race_ethn','fgen','student_year','enroll_type','title','age_at_start_term','act','depend_status','yrs_since_start']],dummy_na=False)
# # Combine df's
# students = pd.concat([students,dummy_name],axis=1)

In [18]:
# # Create prep function
# def prep_student_data(df):
#     '''
#     This function takes in the acquired dataframe and prepare the data for exploration.
#     '''
#     # Lowercase all column names
#     df.columns = [col.lower() for col in df]
#     # Change column names for ease of use
#     df = df.rename(columns={'fakeid':'id','enrolled_1_back':'enrolled_between','student_classif':'student_year',\
#                                     'originaltype':'enroll_type','cip_2dig':'cip','astd':'academic_standing',\
#                                     'dubya_count_term':'w_count','span':'yrs_since_start','days_between':'reg_before_start'})
#     # Drop Nulls for initial pass
#     df = df.dropna()
    
#     # Drop UN cip value
#     df = df[df['cip'] != 'UN']
#     # Retrieve cip codes with descriptions and return dataframe
#     cip = get_cip_codes()
#     # Merge the df's
#     students = pd.merge(students,cip, on='cip', how='left')

#     # fix age at start term variables (23 - 29, to 23-29)
#     df['age_at_start_term'] = df.age_at_start_term.str.replace(' ','')
    
#     # One hot encode categorical columns
#     # Replace (1,0): retained, enrolled_between, sex, time_status, pell_ever, academic_standing, fa_recd, w_count
#     df['retained'] = df.retained.str.replace('Y', '1').str.replace('N', '0')
#     df['enrolled_between'] = df.enrolled_between.str.replace('Y', '1').str.replace('N', '0')
#     df['sex'] = df.sex.str.replace('F', '1').str.replace('M', '0')
#     df['time_status'] = df.time_status.str.replace('FULL', '1').str.replace('PART', '0')
#     df['pell_ever'] = df.pell_ever.str.replace('Y', '1').str.replace('N', '0')
#     df['academic_standing'] = df.academic_standing.str.replace('GOODBIN', '1').str.replace('ISSUEBIN', '0')
#     df['fa_recd'] = df.fa_recd.str.replace('Y', '1').str.replace('N', '0')
#     df['w_count'] = df.w_count.str.replace('ONE_OR_MORE', '1').str.replace('NONE', '0')

#     # Reassign as int type
#     df[['retained','enrolled_between','sex','time_status','pell_ever','academic_standing','fa_recd','w_count']] = \
#     df[['retained','enrolled_between','sex','time_status','pell_ever','academic_standing','fa_recd','w_count']].astype('int')
     
#     # Create dummies: race_ethn, fgen, student_year, enroll_type, cip, age_at_start_term, act, depend_status, yrs_since_start
#     dummy_name = pd.get_dummies(df[['race_ethn','fgen','student_year','enroll_type','title','age_at_start_term','act','depend_status','yrs_since_start']],dummy_na=False)

#     # Combine df's
#     df = pd.concat([df,dummy_name],axis=1)
    
#     # Return cleaned df
#     return df

# TODO

- Research where to impute, scale and split



- Address nulls

    - efc: 1/3 missing, suspicious max (impute?)

    - hs_gpa: 55% missing, potentially drop, normal distribution possibly (impute or drop?)

## Split

In [19]:
# def split_data(df,target):
#     '''
#     This funciton splits the dataset for modeling into:
#     train - for exploring the data, and fitting the models
#     validate - for ensuring the model is not overfit
#     test - for testing the model on unseen data
#     '''
#     # This seperates out the test data from the train and validate data. Test makes up 20 % of the data.
#     train_validate, test = train_test_split(df, random_state=1729, test_size=0.2, stratify=df[target])
    
#     # This seperates out the train and validates sets. Train makes up 56 % of the data and Validate makes up 24 %.
#     train, validate = train_test_split(train_validate, random_state=1729, test_size=0.3, stratify=train_validate[target])
    
#     # The funciton returns the split sets
#     return train, validate, test

In [20]:
# Split Data for further exploration
target = 'retained'
train, validate, test = wrangle.split_data(students, target)
train.head()

,id,retained,enrolled_between,race_ethn,sex,time_status,fgen,student_year,pell_ever,term_gpa,enroll_type,cip,age_at_start_term,act,academic_standing,fa_recd,depend_status,w_count,yrs_since_start,reg_before_start,title,race_ethn_African American,race_ethn_American Indian/Alaskan Native,race_ethn_Asian,race_ethn_Hispanic,race_ethn_International,race_ethn_Missing/Unknown,race_ethn_Native Hawaiian/Pacific Islander,race_ethn_Two or More Races,race_ethn_Two or more races,race_ethn_White,fgen_1GN,fgen_1GX,fgen_1GY,student_year_FR,student_year_JU,student_year_SE,student_year_SO,enroll_type_CONC,enroll_type_FIRST,enroll_type_TRANSFER,title_agricultural/animal/plant/veterinary_science_and_related_fields,"title_area,_ethnic,_cultural,_gender,_and_group_studies",title_basic_skills_and_developmental/remedial_education,title_biological_and_biomedical_sciences,"title_business,_management,_marketing,_and_related_support_services","title_communication,_journalism,_and_related_programs",title_communications_technologies/technicians_and_support_services,title_computer_and_information_sciences_and_support_services,title_education,title_engineering,title_engineering/engineering-related_technologies/technicians,title_english_language_and_literature/letters,"title_foreign_languages,_literatures,_and_linguistics",title_health_professions_and_related_programs,title_history,"title_homeland_security,_law_enforcement,_firefighting_and_related_protective_services","title_liberal_arts_and_sciences,_general_studies_and_humanities",title_mathematics_and_statistics,title_military_technologies_and_applied_sciences,title_multi/interdisciplinary_studies,title_natural_resources_and_conservation,"title_parks,_recreation,_leisure,_fitness,_and_kinesiology",title_philosophy_and_religious_studies,title_physical_sciences,title_psychology,title_public_administration_and_social_service_professions,title_social_sciences,title_transportation_and_materials_moving,title_visual_and_performing_arts,age_at_start_term_18-younger,age_at_start_term_19-22,age_at_start_term_23-29,age_at_start_term_30-older,act_20 or more,act_NADA,act_Under 20,depend_status_DEP,depend_status_IND,depend_status_unk,yrs_since_start_0,yrs_since_start_1,yrs_since_start_2,yrs_since_start_3,yrs_since_start_4,yrs_since_start_5,yrs_since_start_6 or more
434221,607703,0,0,Two or more races,1,0,1GY,SO,1,1.222222,FIRST,26,23-29,Under 20,1,1,unk,0,6 or more,150,biological_and_biomedical_sciences,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1
357083,1125873,1,1,White,1,0,1GY,SE,0,3.000000,TRANSFER,42,23-29,20 or more,1,0,unk,0,2,40,psychology,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0
418485,593732,1,1,African American,1,0,1GY,JU,1,2.000000,FIRST,26,23-29,NADA,1,1,IND,0,6 or more,83,biological_and_biomedical_sciences,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
178811,934538,1,1,White,1,0,1GY,SE,1,4.000000,TRANSFER,13,30-older,NADA,1,1,IND,0,4,68,education,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
100114,991406,1,1,Hispanic,0,1,1GY,FR,1,2.556667,FIRST,54,18-younger,Under 20,1,1,DEP,0,1,83,history,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0

## Scaling

In [21]:
# def scale_data(train, validate, test, return_scaler=False):
#     '''
#     This function scales the split data and returns a scaled version of the dataset.
    
#     If return_scaler is true, the scaler will be returned as well.
#     '''
    
#     col = train.columns[train.dtypes == 'float']
#     col = col.append(train.columns[train.dtypes == 'int'])

#     train_scaled = train[col]
#     validate_scaled = validate[col]
#     test_scaled = test[col]

#     scaler = MinMaxScaler()
#     scaler.fit(train[col])
    
#     train_scaled[col] = scaler.transform(train[col])
#     validate_scaled[col] = scaler.transform(validate[col])
#     test_scaled[col] = scaler.transform(test[col])
    
#     if return_scaler:
#         return train_scaled, validate_scaled, test_scaled, scaler
#     else:
#         return train_scaled, validate_scaled, test_scaled

In [22]:
# Scale data
train_scaled, validate_scaled, test_scaled = wrangle.scale_data(train,validate,test)
train_scaled.head()

        reg_before_start  term_gpa
434221          0.898204  0.305556
357083          0.239521  0.750000
418485          0.497006  0.500000
178811          0.407186  1.000000
100114          0.497006  0.639167

## Impute

### efc

In [23]:
# Impute efc Function
#def impute_efc():

In [24]:
#df.isnull().sum()

In [25]:
#df.efc.isnull().value_counts(normalize=True)

In [26]:
#df.drop(columns=['efc','hs_gpa']).dropna().shape

In [27]:
#df[~df.hs_gpa.isnull()].efc.isnull().value_counts(normalize=True)

In [28]:
#df[~df.hs_gpa.isnull()].efc.isnull().shape

In [29]:
#df[df.hs_gpa.isnull()].efc.isnull().value_counts(normalize=True)

In [30]:
#df[df.hs_gpa.isnull()].efc.isnull().shape

In [31]:
# students.students[students.efc == 0].value_counts()[0] / 319861

In [32]:
# students.efc.isnull().value_counts(normalize=True)

- 30 percent of students have an efc of 0 even after the drop null

In [33]:
df.efc.describe()

count    319931.000000
mean       9144.643736
std       21718.309328
min           0.000000
25%           0.000000
50%        3441.000000
75%       10704.000000
max      999999.000000
Name: efc, dtype: float64

In [34]:
lost_data_efc = df[df.efc.isnull() == True]

In [35]:
lost_data_efc.head()

,fakeid,retained,enrolled_1_back,race_ethn,sex,time_status,fgen,student_classif,pell_ever,efc,hs_gpa,term_gpa,originaltype,cip_2dig,age_at_start_term,act,astd,fa_recd,depend_status,dubya_count_term,span,days_between
0,356453,Y,Y,White,F,FULL,1GX,SO,N,NaN,2.92,2.000000,TRANSFER,24,19 - 22,NADA,GOODBIN,N,unk,NONE,1,89
5,1299283,Y,Y,White,F,FULL,1GY,FR,N,NaN,3.03,2.666667,FIRST,43,18 or younger,NADA,GOODBIN,N,unk,NONE,0,43
9,1153496,Y,Y,Hispanic,F,FULL,1GN,SO,N,NaN,2.32,2.668000,FIRST,26,19 - 22,Under 20,GOODBIN,N,unk,ONE_OR_MORE,2,56
10,429783,Y,Y,Two or more races,M,FULL,1GY,JU,N,NaN,3.08,3.200000,FIRST,52,19 - 22,20 or more,GOODBIN,N,unk,NONE,3,152
17,119559,N,Y,Hispanic,F,PART,1GN,SE,N,NaN,3.00,3.000000,FIRST,24,23-29,Under 20,GOODBIN,N,unk,NONE,6 or more,128

In [36]:
lost_data_efc.shape

(128245, 22)

In [37]:
lost_data_efc.depend_status.value_counts()

unk    128244
DEP         1
Name: depend_status, dtype: int64

### hs_gpa

In [38]:
df[~df.hs_gpa.isnull()].shape

(200811, 22)

In [39]:
df[df.hs_gpa.isnull()].shape

(247365, 22)

In [40]:
df.shape

(448176, 22)

In [41]:
# Impute hs_gpa function
#def impute_hs_gpa():

In [42]:
# students.hs_gpa.describe()

In [43]:
# students[students.efc > 4]

In [44]:
students.shape

(448086, 87)

In [45]:
lost_data_hs_gpa = df[df.hs_gpa.isnull() == True]

In [46]:
lost_data_hs_gpa.head()

,fakeid,retained,enrolled_1_back,race_ethn,sex,time_status,fgen,student_classif,pell_ever,efc,hs_gpa,term_gpa,originaltype,cip_2dig,age_at_start_term,act,astd,fa_recd,depend_status,dubya_count_term,span,days_between
1,876229,N,N,Hispanic,M,FULL,1GN,FR,Y,0.0,NaN,0.462308,FIRST,11,19 - 22,20 or more,ISSUEBIN,Y,DEP,NONE,0,15
7,421268,N,Y,White,F,FULL,1GN,FR,Y,30623.0,NaN,0.000000,TRANSFER,42,19 - 22,Under 20,ISSUEBIN,Y,DEP,NONE,0,53
8,582122,Y,Y,White,M,PART,1GN,SO,Y,7138.0,NaN,3.000000,TRANSFER,49,23-29,NADA,GOODBIN,Y,IND,NONE,2,87
15,1000408,Y,Y,White,M,FULL,1GN,SE,Y,4992.0,NaN,3.076154,TRANSFER,52,23-29,NADA,GOODBIN,Y,IND,NONE,2,39
16,1340241,Y,Y,White,F,PART,1GN,SE,N,17090.0,NaN,4.000000,FIRST,24,30 or older,NADA,GOODBIN,Y,IND,NONE,6 or more,27

In [47]:
lost_data_hs_gpa.shape

(247365, 22)

In [48]:
lost_data_hs_gpa.depend_status.value_counts()

IND    137960
unk     68274
DEP     41131
Name: depend_status, dtype: int64